html, body {
	background: #fefefe;
}

.coluna, .colunas, .titulo > li {
	background: #ddd;
	border: 1px solid #d0d0d0;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-ms-transition-duration: .3s;
	transition-duration: .3s;
}

.linha {
	margin-bottom: 25px;
	text-align: center;
}