@charset "UTF-8";

/**
* CSS Framework
* ---------------
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font: inherit; 
	font-size: 100%; 
	vertical-align: baseline;
}
/*
html { 
	line-height: 1;
}

* html { 
	font-size: 100%; 
}

html { 
	font-size: 16px; line-height: 1.625em; 
}

html * { 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}

body { 
	background: white; font-family: "Open Sans"; font-weight: 400; color: #555555; position: relative; -webkit-font-smoothing: antialiased; 
}

ol, ul { 
	list-style: none;
}

table { 
	border-collapse: collapse; border-spacing: 0; 
}

caption, th, td { 
	text-align: left; font-weight: normal; vertical-align: middle; 
}

a img { 
	border: none; 
}

h1, h2, h3, h4, h5, h6 { 
	font-family: "Open Sans"; font-weight: 300; color: #444444; text-rendering: optimizelegibility; padding-top: 0.273em; line-height: 1.15538em; padding-bottom: 0.273em; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	color: #d04526; 
}

.menu {}

.conteudo { 
	padding: 0px 20px;
}
*/
/*	----------------------------------------------------------------------------------------------------------
		FORMATANDO GRID PARA DIVISÃO DE ELEMENTOS DO LAYOUT
	---------------------------------------------------------------------------------------------------------- */

.linha {
	width: 100%; 
	max-width: 940px; 
	min-width: 320px; 
	/*margin: 0 auto;*/
}

.linha .linha {
	min-width: 0px;
}

.coluna, .colunas {
	min-height: 1px; 
	position: relative; 
	float: left; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.linha .uma.coluna { width: 6.38298%; }
.linha .duas.colunas { width: 14.89362%; }
.linha .tres.colunas { width: 23.40426%; }
.linha .quatro.colunas { width: 31.91489%; }
.linha .cinco.colunas { width: 40.42553%; }
.linha .seis.colunas { width: 48.93617%; }
.linha .sete.colunas { width: 57.44681%; }
.linha .oito.colunas { width: 65.95745%; }
.linha .nove.colunas { width: 74.46809%; }
.linha .dez.colunas { width: 82.97872%; }
.linha .onze.colunas { width: 91.48936%; }
.linha .doze.colunas { width: 100%; }

/*	---------------------------------------------------------------------------------------------------------- */

.dropdown {}
.campo {}
.busca {}
.entrada {}
.corpo {}

.logo {}
.retina {}

/* *********************************************************************************************** */
/* Estilos de formulários  */
/*
form { 
	margin: 0 0 18px; 
}
form label { 
	display: block; font-size: 16px; font-size: 1rem; line-height: 1.625em; cursor: pointer; margin-bottom: 9px; 
}
form label.inline { 
	display: inline-block; padding-right: 20px; 
}
form dt { 
	margin: 0; 
}
form textarea { 
	height: 150px; 
}
form ul, form ul li { 
	margin-left: 0; list-style-type: none; 
}
form fieldset { 
	border-style: solid; border-width: 0.0625em; padding: 1.5625em; border-color: #d8d8d8; margin: 18px 0; 
}
form fieldset legend { 
	padding: 5px 10px; 
}
*/